/* STILE GENERALE*/
*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/*HEADER*/
/* HEADER OVER */
.header-over::after{
  content: '';
  display: table;
  clear: both;
}
.header-over{
  height: 80px;
  background-color: #f5f8fa;
  /* background-color: red; */
  border-bottom: 1px solid #cbd6e2;
}

.header-top{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: blue; */
  background-color: #f5f8fa;
}
.top-left,
.center-left{
  float:left;
}

.top-right,
.center-right{
  float:right;
}

.top-left.col-header,
.top-right.col-header{
  padding: 20px;
}

.col-header{
  display: inline-block;
  min-width: 300px;
  height: 100%;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: #f5f8fa;
}
.button,
.button-log,
.button-hero {
  background-color: orange;
  border: 1px solid;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button-log{
  background-color: white;
  color: orange;
}
.button-hero{
  margin: 20px 0;
  padding: 12px 28px;
  font-size: 16px;
}

/* HEADER MENU NAVIGAZIONE */
.header-nav::after{
  content: '';
  display: table;
  clear: both;
}
.header-nav{
  /* height: 80px; */
  background-color:  #fff; /*pink; */
  /* border-bottom: 1px solid black; */
}
.header-center{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;  /*lightblue;*/
}
.center-left.col-header,
.center-right.col-header{
  background-color: #fff;
}
.center-left.col-header img{
  width: 50%;
  padding: 20px;
}
/* NAV BAR */
.navbar{
  padding: 20px;
  text-align: center;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}
.menu-header li{
  display: inline-block;
  padding: 0 10px;
}
/* HEADER HERO */
.header-hero{
  /* height: 500px; */
  max-width: 1200px;
  margin: 0 auto;
  background-color: purple;
  position: relative;
  /* background-image: url('../img-hubspot.png'); */
}

/* .header-hero .jumbotron img{
  transform: translateX(50%);
} */
.text-hero{
  position: absolute;
  width: 30%;
  left: 20%;
  margin-top: 20px;
  background-color: white;
}
.text-hero h1{
font-family: 'Montserrat', sans-serif;
font-size: 700;
padding: 0 20px;
color: #33475b;
}
.text-hero p{
font-family: 'Montserrat', sans-serif;
font-size: 400;
padding: 0 10px;
color: #33475b;
}




/*MAIN SECTION 1*/
/*SEZIONE TOP*/
/* .section-top{
  width: 300px;
  height: 200px;
  margin: 5px auto;
  border: 1px solid black;
}
/*SEZIONE CENTRALE*/
/* .section-center{
  width: 100%;
  height: 200px;
  margin: 5px auto;
  background-color: lightgrey;
  border: 1px solid black;
}

.section-center::after{
  content: '';
  display: table;
  clear: both;
}

.s-c-left, .s-c-right{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  height: 50px;
  float: left;
  background: white;
}
/*SEZIONE BOTTOM*/
/* .section-bottom{
  width: 100%;
  margin: 5px auto;
  background-color: lightgrey;
  border: 1px solid black;
} */ */
/* .section-bottom::after{
  content: '';
  display: table;
  clear: both;
}
.col{
  float: left;
  text-align: center;
}
.col-left, .col-center, .col-right{
  width: 20%;
  height: 300px;
  background: green;
}
.col-center{
  margin-left: 20%;
  margin-right: 20%;
} */

/*SECTION 2*/
/* .section-2{
  width: 100%;
  background-color: lightgreen;
}

.section-2{
  content: '';
  display: table;
  clear: both;
} */

/* .sectionbox{
  float: left;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 1px solid black;
} */ */
