/* STILE GENERALE*/
*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/*HEADER*/
/* HEADER OVER */
.header-over::after{
  content: '';
  display: table;
  clear: both;
}
.header-over{
  background-color: #f5f8fa;
  /* background-color: red; */
  border-bottom: 1px solid #cbd6e2;
}

.header-top{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: blue; */
  background-color: #f5f8fa;
}
.top-left,
.center-left{
  float:left;
}

.top-right,
.center-right{
  float:right;
}

.top-left.col-header,
.top-right.col-header{
  padding: 20px;
}

.col-header{
  display: inline-block;
  min-width: 300px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f8fa;
}
.button,
.button-log,
.button-hero {
  background-color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button-log{
  background-color: white;
  color: #fe775a;
}
.button-hero{
  padding: 20px 40px;
  font-size: 16px;
}
.top-left span:last-of-type{
  border-left: 2px solid #899397;
  margin: 0 5px;
  padding-left: 5px;
}

/* HEADER MENU NAVIGAZIONE */
.header-nav::after{
  content: '';
  display: table;
  clear: both;
}
.header-nav{
  background-color:  #fff; /*pink; */
  /* border-bottom: 1px solid black; */
}
.header-center{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;  /*lightblue;*/
}
.center-left.col-header,
.center-right.col-header{
  background-color: #fff;
}
.center-left.col-header img{
  width: 50%;
  padding: 20px;
}
/* NAV BAR */
.navbar{
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.menu-header li{
  display: inline-block;
  padding: 0 10px;
}
/* HEADER HERO */
.header-hero{
  height: 695px;
  position: relative;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  background-color:  #fff4ef; /*purple;*/

}

.jumbotron {
  position: absolute;
  right: 0;
  width: 90%;
  height: 695px;
  background: #fff4ef;
  background-image: url("../img-hubspot/jumbotron.png");
  background-position: right;
  background-repeat: no-repeat;
}

.text-hero{
  position: absolute;
  width: 30%;
  left: 20%;
  margin-top: 20px;
  z-index: 1;
}
.text-hero h1{
font-family: 'Montserrat', sans-serif;
font-size: 50px;
margin-bottom: 20px;
color: #33475b;
}
.section-1 h2{
font-family: 'Montserrat', sans-serif;
font-size: 30px;
margin-bottom: 20px;
color: #33475b;
}

.text-hero p {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 180%;
padding: 0 10px;
color: #33475b;
}
.azzurro{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
}

/*MAIN SECTION 1*/
/*SEZIONE TOP*/
main{
  background-color:  #f5f8fa;
  border-top: 3px solid #33475b;
}
.section-1{
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color:  #f5f8fa;
}

.section-top img{
  width: 250px;
  padding: 20px;
}

.section-top{
  width: 820px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

/*SEZIONE CENTRALE*/

.section-1-center{
  position: relative;
  /* max-width: 1200px;
  width: 100%; */
  margin: 0 auto;
  padding: 20px;
  background-color:  #fff;

}
.boxfull{
  width: 100%;
  padding: 60px;
}
.boxwhite{
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1)
}
.section-1-center::after{
  content: '';
  display: table;
  clear: both;
}
.section1-center-left,
.section1-center-right{
  float:left;

}
.section1-center-left{
    width: 30%;
}

.section1-center-right{
  width: 70%;
  padding: 0 50px;
}

.section1-center-right h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;;
  margin-bottom: 20px;
  color: #33475b;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;;
  margin-bottom: 20px;
  color: #33475b;
}
.section-1 p{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 180%;
color: #33475b;
}
.section1-center-right p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  padding: 10px 0;
  color: #33475b;
}

.section1-center-left img{
  max-width: 100px;
  margin-bottom: 20px;
}
.section1-check{
  padding-left: 0;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.section1-check li{
  display: inline-block;
  padding: 10px;
}
.section1-check i{
  color: #fe775a;
  padding-right: 10px;
}

.section1-line{
  position: relative;
  font-size: 18px;
}
.section1-line::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #899397;
}
.section1-line span{
  position: relative;
  display: block;
  width: 35%;
  background: #fff;
}
/*SEZIONE BOTTOM*/
.wrap{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.wrap::after{
  content: '';
  display: table;
  clear: both;
}

.col{
  float: left;
  text-align: center;
}

.col-left,
.col-center,
.col-right{
  width: 32%;
}
.col-center{
  margin-left: 2%;
  margin-right: 2%;
}
.col-left img,
.col-center img,
.col-right img{
  height: 136px;
  margin-bottom: 20px;
  padding: 10px 0;
}
.col-left h3,
.col-center h3,
.col-right h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;;
  margin-bottom: 20px;
  color: #33475b;
}
.col-left p,
.col-center p,
.col-right p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  color: #33475b;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #899397;
}

.bottom-list{
  margin-bottom: 50px;
}
.bottom-list li{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}
.bottom-list i {
  color: #fe775a;
}

.col-left button,
.col-center button,
.col-right button{
  margin-bottom: 30px;
}


/*SECTION 2*/
.section-2{
  width: 100%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}
.section-2-text,
.section-2-griglia{
 width: 1200px;
 margin: 0 auto;
 text-align: center;
 padding: 20px;
}
.section-2-text h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.section-2-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}
 /* section 2 - griglia */
 .grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.grid-container > div {
 text-align: center;
 font-size: 30px;
}
.grid-item img{
  width: 100px;
  height: 100px;

}
.grid-item{
  border: 1px solid white;
}
.grid-item-top{
  border-top: none;
}
.grid-item-bottom{
  border-bottom: none;
}
.grid-item-right{
  border-right: none;
}
.grid-item-left{
  border-left: none;
}
.text-grid-bold{
  font-family:'Montserrat', sans-serif;
  color: #fff;
  font-size: 40px;
}

.text-grid-small{
  font-family:'Montserrat', sans-serif;
  font-size: 10px;
  padding: 20px;
  color: #fff;
}
/* SECTION 3 */
.section-3{
  width: 100%;
  background-color: #fff;
}
/* SECTION 3 TOP */
.section-3-top{
  width: 820px;
  margin: 0 auto;
  padding: 20px;
}
.section-3-top::after{
  content: '';
  display: table;
  clear: both;
}
.section-3-top-left,
.section-3-top-right{
  float: left;
}
.section-3-top-left{
  width: 30%;
  text-align: left;
}

.section-3-top-left h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #33475b;
}
.section-3-top-left p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 20px;
  color: #33475b;
}

.section-3-top-right{
  width: 70%;
  line-height: 180%;
  padding: 20px;
}
.loghi-section-3::after{
  content: '';
  display: table;
  clear: both;
}
.box-logo-3{
  width: 25%;
  float: left;
}

.box-logo-3 img{
  max-width: 100px;
  padding: 10px;
}

/* SECTION 3 BOTTOM */
.section-3-bottom{
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.section-3-bottom::after{
  content: '';
  display: table;
  clear: both;
}
.section-3-bottom-left,
.section-3-bottom-right{
  float: left;
}
.section-3-bottom-left{
 width: 50%;
 text-align: left;
}
.section-3-bottom-left h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  color: #33475b;
}
.section-3-bottom-left p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  margin-bottom: 20px;
  color: #33475b;
}
.section-3-bottom-right{
  position: relative;
  width: 50%;
}
.section-3-bottom-right img{
  position: absolute;
  top: 0;
  right: 0;
 width: 300px;
}
